<div
  class="self-stretch relative"
  {{on 'click' this.toggle}}
>
  <FaIcon
    @icon='sleigh'
    @size='2x'
    class="cursor-pointer"
  />

  <div
    class="{{if this.userNav.isOpen '' 'hidden'}} flex flex-col items-stretch bg-white absolute right-0 mt-3 border"
  >
    <LinkTo @route='account' class="text-black px-4 py-2 whitespace-no-wrap">
      My Account
    </LinkTo>

    {{#if this.auth.user.isAdmin}}
      <LinkTo @route='admin' class="text-black px-4 py-2 whitespace-no-wrap">
        Admin
      </LinkTo>
    {{/if}}

    <button
      type="button"
      class="border-t text-black px-4 py-2 whitespace-no-wrap"
      {{on 'click' (perform this.auth.logoutTask)}}
    >Log Out</button>
  </div>
</div>