{{outlet}}
<Admin::Content>
  <div class="flex flex-wrap">
    <LinkTo @route='admin.members' class="block text-2xl mx-2 px-4 bg-gray-200">
      Members
    </LinkTo>

    <LinkTo @route='admin.years' class="block text-2xl mx-2 px-4 bg-gray-200">
      Years
    </LinkTo>
  </div>
</Admin::Content>