<h2 class="text-xl font-semibold mb-3">Login</h2>

<div class="mb-3">
  <label class="block">
    Email
  </label>
  <Input
    @value={{this.email}}
    required
    class="border rounded px-2 py-1"
  />
</div>

<div class="mb-6">
  <label class="block">
    Password
  </label>
  <Input
    @value={{this.password}}
    required
    class="border rounded px-2 py-1"
  />
</div>

{{#if this.errorMessage}}
  <p class="text-red-700 mb-4">
    {{this.errorMessage}}
  </p>
{{/if}}

<button
  type="button"
  {{on 'click' (fn this.authenticate)}}
>Login</button>