<form
  {{on 'submit' this.tryToSave}}
>
  <Layout::ColCenter class="mt-10">
    <h2 class="text-2xl font-semibold mb-6">My Account</h2>

    <Forms::Edit::Member @member={{@model.member}} />
    <Forms::Edit::User @user={{@model.user}} />

    <Buttons::Submit />
  </Layout::ColCenter>
</form>