<EditForms::Member @member={{@model.member}} />
<EditForms::User @user={{@model.user}} />

{{#if this.isInvalid}}
  <p class="text-red-700 mb-4">
    Invalid input.
    Please ensure that all fields are filled out correctly.
  </p>
{{/if}}

<button
  type="button"
  class="border border-1 border-purple-700 rounded-md px-2 py-1"
  {{on 'click' (fn this.tryToRegister)}}
>Submit</button>

{{outlet}}